{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
  Login page
{% endblock %}

{% block body %}
  {% if errors %}
      {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
      {% endfor %}
  {% endif %}
  <form method="POST">
    {# csrf protection #}
    {{ form.csrf_token() }}

    {# show inputs #}
    {% for field in ["email", "password"] %}
      {{ render_field(form[field]) }}
    {% endfor %}

    {# submit #}
    <div>
      {{ form.submit(class="btn btn-primary mb-3") }}
    </div>
  </form>
{% endblock %}
