{% extends 'base.html' %}

{% block title %}
    Articles list
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Articles (count: {{ count_articles }}, obtained from RPC call):</h1>
            {% for article in articles %}
                <ul>
                    <li>
                        <a href="{{ url_for('articles_app.details', article_id=article.id) }}">{{ article.title }}</a>
                        by {{ article.author.user.username }}
                    </li>
                </ul>
            {% endfor %}
        </div>
        <hr>
        <a href="{{ url_for('articles_app.create') }}">Create new</a>
    </div>
{% endblock %}
